MainFreight_PartialSandbox/src/flows/Entitlement-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Case_Entitlement_Assignment</name>
        <label>Case Entitlement Assignment</label>
        <locationX>46</locationX>
        <locationY>364</locationY>
        <assignmentItems>
            <assignToReference>Case.EntitlementId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Entitlement.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Case.SlaStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Entitlement_Null</name>
        <label>Is Entitlement Null?</label>
        <locationX>45</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>Case_Entitlement_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Entitlement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Case.EntitlementId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Null</label>
        </rules>
    </decisions>
    <interviewLabel>Entitlement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Entitlement</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Case1</name>
        <label>Case</label>
        <locationX>43</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Entitlement2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>EntitlementId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Entitlement2</name>
        <label>Entitlement</label>
        <locationX>44</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Entitlement_Null</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseAccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Entitlement</object>
        <outputReference>Entitlement</outputReference>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>SlaProcessId</queriedFields>
        <queriedFields>BusinessHoursId</queriedFields>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>update_Case</name>
        <label>update Case</label>
        <locationX>46</locationX>
        <locationY>474</locationY>
        <inputReference>Case</inputReference>
    </recordUpdates>
    <startElementReference>Case1</startElementReference>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Entitlement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Entitlement</objectType>
    </variables>
</Flow>
